{{> head}}
{{> navbar}}
<div class="row">

    <div class="col-8">
        <h1>Mi texto bonito</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt aliquid provident, explicabo animi neque libero corporis ducimus alias saepe voluptatibus laudantium deleniti, illum quas nam, velit sunt magni perferendis porro.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/agile.png"" alt="miImagen" class="img-thumbnail">
    </div>

</div>

{{> footer}}